*{ padding: 0px; margin: 0px; }

header,a,nav,aside, article,section,footer,main{display: block;}

#wrapper{
    margin: 0px auto;
    width 1000px;
    height: 1000px;
}

.clear{
    clear: both;
}


/*-----layout1--------*/

header{
    width: 1000px;
    height: 183px;
}

nav{
    width: 727px;
    height: 57px;
    background-color: #b94a48;
    float: right;
    margin-top: 30px;
}

#logo{
    width: 90px;
    height: 97px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    display: block;
    margin-left: 100px;
}

aside{
    width: 121px;
    height: 696px;
    float: left;
    background-color: #f2dede;
}

section{
    width: 849px;
    height: 268px;
    float: left;
    background-color: #ee5f5b;
    margin-left: 30px;
    position: relative;
}

footer{
    width:1000px;
    height: 121px;
    background-color: #d6d6d6;
}

.selected{
    background-color: #333333;
    height: 57px;
}
li{
    float: left;
}
ul{
    list-style-type: none;
}
a{
    text-align: center;
    vertical-align: middle;
    width: 230px;
    color: #ffffff;
    text-decoration: none;
}

article{
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
}


section article{
    top:90px;
    left: 344px;
    width: 126px;
    height: 94px;

}


main{
    position: relative;
}
main article{
    top:494px;
    left: 220px;
    width: 692px;
    height: 174px;
}