*{ padding: 0px; margin: 0px;}

header,a,nav,aside, article,section,footer,main{display: block;}

#wrapper{
    margin: 0px auto;
    width: 1000px;
    height: 1000px;
}

.clear{
    clear: both;
}


/*-----layout1--------*/

header{
    width: 1000px;
    height: 183px;
}

header nav{
    width: 727px;
    height: 57px;
    background-color: #b94a48;
    float: right;
    margin-top: 30px;
}

#logo{
    width: 90px;
    height: 97px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    display: block;
    margin-left: 100px;
}

aside{
    width: 121px;
    height: 696px;
    float: left;
    background-color: #f2dede;
}

section{
    width: 849px;
    height: 268px;
    float: left;
    background-color: #ee5f5b;
    margin-left: 30px;
    position: relative;
}

footer{
    width:1000px;
    height: 121px;
    background-color: #d6d6d6;
}

.selected{
    background-color: #333333;
    height: 57px;
}
li{
    float: left;
}
ul{
    list-style-type: none;
}
a{
    text-align: center;
    vertical-align: middle;
    width: 230px;
    color: #ffffff;
    text-decoration: none;
}

article{
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
}


#box1{
    top:90px;
    left: 344px;
    width: 126px;
    height: 94px;

}


main{
    position: relative;
}
main article{
    top:494px;
    left: 220px;
    width: 692px;
    height: 174px;
}

/*----Layout 2------*/


nav{
    width: 243px;
    height: 886px;
    background-color: #333333;
    float: left;
}
body nav ul .selected{
    background-color: #b94a48;
    height: 60px;
    width: 243px;
}

main section{
    margin: 0px;
    background-color: #ee5f5b;
    width: 757px;
    height: 886px;

}
.layot2_body_articles{
    position: relative;
}
.layot2_body_articles article:nth-child(1){
     height: 366px;
     width: 212px;
     position: absolute;
    top: 0px;
    left: 32px;
 }
.layot2_body_articles article:nth-child(2){
    height: 560px;
    width: 212px;
    position: absolute;
    top: 0px;
    left: 272px;
}
.layot2_body_articles article:nth-child(3){
    height: 223px;
    width: 212px;
    position: absolute;
    top: 0px;
    left: 514px;
}
.layot2_body_articles article:nth-child(4){
    height: 500px;
    width: 212px;
    position: absolute;
    top: 386px;
    left: 32px;
}
.layot2_body_articles article:nth-child(5){
    height: 306px;
    width: 212px;
    position: absolute;
    top: 580px;
    left: 272px;
}

.footer_second_layout{
    position: fixed;
    bottom: 0px;
    height: 50px;
}